[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bp = "*"
black = "*"
pylint = "*"
mypy = "*"
pydocstyle = "*"

[requires]
python_version = "3.9"
